*
{
	margin:0;
	padding:8px,0px,6px,40px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: blue;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: black;
	
}

.vertical-menu {
    width: 200px;
}

.vertical-menu a {
    background-color: magenta;
    color: black;
    display: block;
    padding: 12px;
    text-color: red;
}

.vertical-menu a:hover {
    background-color: white;
}

.vertical-menu a.active {
    background-color: #4CAF50;
    color: white;
}








body{
	background-image:url("../img/bubble.jpg");
	background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
	
}

.imgheader{
	font-family:cjk-ideographic;
	font-size:60px;
	color:blue;
	position:center-right;
}

table{
	margin-left:auto;
	margin-right:auto;
}

.table-main{
    border: 1px solid black;
    background-color: white;
    padding-top: 0px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 10px;
}

shop:hover{
	background-color:white;
}



input:hover{
	background-color:yellow;
}

footer {
    clear: both;
    position: fixed;
	bottom: 0;
    height: 3em;
	color: red;
	text-align:center;
	width: 100%;
}

